.swiper {
    position: relative;

    // &.projectSwiper {
    //     padding-left: 5% !important;
    //     padding-right: 15% !important;
    // }

    &.artSwiper {
        overflow: visible !important;
        overflow-x: hidden;
    }

    >div {
        align-items: stretch;
        margin: 1rem 0rem;

        .swiperSlide {
            flex: 1;
            width: 15rem;
            display: flex;
            align-items: stretch;
            transition: scale var(--speed-slow), ;
            scale: 0.9;

            >div {
                z-index: 1;
                overflow: hidden !important;
                box-shadow: -0.1rem 0.1rem 0.2rem var(--color-shadow) !important;
            }

            &:hover {
                z-index: 20;
            }

            &.active {
                scale: 1;

                >div {
                    box-shadow: -1rem 1rem 1rem var(--color-shadow) !important;
                }

                // transform: translateY(-5%);
            }
        }
    }

    .fade {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        background-image: linear-gradient(90deg, var(--color-bg) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, var(--color-bg) 100%);
        pointer-events: none;
        z-index: 1;
        transition: background-image var(--speed-medium);
    }

    .footer {
        position: absolute;
        right: 50%;
        bottom: -1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: translateX(50%);
        gap: 0.8rem;
        z-index: 20;

        .arrow {
            font-size: 0.9rem;
            font-weight: 600;
            cursor: pointer;
            user-select: none;
            transition: all var(--speed-medium);

            &:hover {
                cursor: pointer;
                color: var(--color-accent-primary);
            }
        }

        & .leftArrow {
            &:hover {
                transform: translateX(-0.1rem);
            }
        }

        & .rightArrow {
            &:hover {
                transform: translateX(0.1rem);
            }
        }

        & .disabled {
            color: var(--color-text-secondary);
            opacity: 0.5;
            pointer-events: none;
            cursor: none;

            &:hover {
                transform: translateX(0rem);
                cursor: none;
            }
        }

        .fraction {
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.7rem;
            font-weight: 400;
            color: var(--color-text-secondary);
            gap: 0.2rem;
            width: 2rem;

            >div {
                opacity: 0.5;
            }

            .current {
                font-weight: 700;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 600px) {
    .swiper {

        >div {
            .swiperSlide {
                width: 15rem;
                // margin: 0rem 0.5rem;

                &:hover {
                    // margin-right: 0.5rem;
                    transform: translateY(0rem);
                }
            }
        }
    }
}