.mouse {
    height: 0.9rem;
    aspect-ratio: 0.7;
    border-radius: 1rem;
    background-color: var(--color-border);
    border: var(--border-secondary);
    border-color: var(--color-text-secondary);
    opacity: 0.5;
    position: relative;
    overflow: hidden;
    transition: opacity var(--speed-slow), border-color var(--speed-slow), box-shadow var(--speed-slow);
    display: flex;

    .buttons {
        display: flex;
        position: absolute;
        height: 45%;
        width: 100%;
        border-bottom: var(--border-secondary);
        // border-bottom-color: var(--color-text-secondary);

        div {
            width: 50%;
            height: 100%;

            &.active {
                background-color: var(--color-text-secondary);
            }
        }
    }

    .scroll {
        position: absolute;
        height: 40%;
        width: 40%;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        background-color: var(--color-text-secondary);
        border-radius: 0.5rem
    }

    &.interacted {
        border-color: var(--color-accent-primary);
        // box-shadow: var(--shadow-small-glow);
        opacity: 1;

        .buttons>.active,
        .active {
            background-color: var(--color-accent-primary);
            box-shadow: var(--shadow-small-glow);
        }
    }
}