.messageBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    align-items: center;

    input {
        display: flex;
        overflow: hidden;
        width: 100%;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.86rem 6.2rem 0.86rem 0.85rem;
        border-radius: 0.7rem;
        border: var(--border-secondary);
        box-shadow: inset var(--shadow-small);
        background: var(--color-glass);
        transition: all var(--speed-medium);
        color: var(--color-accent-primary);

        &:active,
        &:focus-within {
            border-color: var(--color-accent-primary);
            box-shadow: inset var(--shadow-small-glow);
        }
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0.5rem;
        border-radius: 0.4rem;
        font-size: 0.8rem;
        border: var(--border-secondary);
        background: var(--color-accent-secondary);
        box-shadow: var(--shadow-small-glow);
        cursor: default;
        transition: all var(--speed-medium);
        color: white;
        overflow: hidden;
        height: 0;
        padding: 0;
        opacity: 0;
    }

    .submitMessage {
        display: flex;
        height: 0;
        transform: translateY(-1rem);
        opacity: 0;
        overflow: hidden;
        color: var(--color-successful);
        font-size: 0.7rem;
        transition: all var(--speed-medium);

        &.submitted {
            transform: none;
            opacity: 1;
            height: auto;
        }
    }

    &.active {
        input {
            background: rgba(var(--rgb-accent-secondary), 0.15);
        }

        button {
            padding: 0.4rem;
            width: 5rem;
            opacity: 1;
            cursor: pointer;
            height: auto;

            &:hover {
                border-color: var(--color-accent-secondary);
                background: rgba(var(--rgb-accent-secondary), 0.6);
                color: var(--color-accent-primary);
                box-shadow: var(--shadow-glow-small);
            }
        }
    }
}