.filterPane {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 1.5rem;

        h3 {
            margin: 0;
            text-transform: capitalize;
            font-size: 1.1rem;
            font-weight: 500;
        }
    }

    .searchSection {
        margin-top: 1.2rem;
    }
}

@media (max-width: 1500px) {
    .filterPane {
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
        margin-bottom: 1rem;

        .header {
            height: 100%;
            // order: 0;
            // position: absolute;
            top: 100%;
            flex-grow: 1;
            justify-content: flex-start;

            >div {
                height: 100% !important;
            }

            h3 {
                display: none;
            }
        }

        .searchSection {
            margin-top: 0;
            order: 1;
        }



    }
}

@media (max-width: 600px) {
    .filterPane {
        flex-wrap: wrap;
        justify-content: flex-end;

        >div {
            order: 2;
        }

        .header {
            align-content: flex-end;
            order: 1;
        }

        .searchSection {
            flex: 0 0 100%;
            flex-grow: 1;
            margin-top: 0;
            order: 0;
        }
    }
}