.xpPane {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;

    .logosContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .xpDescription {
        border: var(--border-primary);
        box-shadow: var(--shadow);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 1;
        position: relative;
        padding: 0.5rem;

        .overview {
            position: absolute;
            right: 0;
            top: 0;
            margin: 1rem;
            display: flex;
            gap: 0.5rem;

            >* {
                background-color: var(--color-glass);
                border: var(--border-secondary);
                padding: 0.2rem 0.4rem;
                transition: all var(--speed-medium);
                font-size: 0.8rem;
                border-radius: 0.3rem;
                box-shadow: var(--shadow);
            }

            >div {
                color: var(--color-text-secondary);
            }
        }

        >div:nth-of-type(2) {
            border-top: none;
        }

        .role {
            padding: 0.5rem;
            border-radius: 0.5rem;
            border-top: var(--border-secondary);
            display: flex;
            flex-direction: column;
            // gap: 0.4rem;

            >div {
                font-size: 0.9rem;
                color: var(--color-text-secondary);
                line-height: 1.6rem;

                &.position {
                    font-size: 1rem;
                    font-weight: 500;
                    color: var(--color-text-primary);
                    margin-bottom: 0.5rem;
                }

                &.description {
                    display: flex;
                    gap: 2rem;
                    justify-content: space-between;
                    align-items: stretch;

                    .text {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        gap: 0.3rem;
                        line-height: 1.4rem;

                        p {
                            margin: 0;

                            .type {
                                color: var(--color-text-primary);
                            }
                        }
                    }

                    .tags {
                        flex: 1;
                        gap: 0.3rem;
                        align-self: flex-end;
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: wrap-reverse;

                        >div {
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .xpPane {

        .xpDescription {
            align-items: flex-start;
            gap: 0;

            .overview {
                position: relative;
                margin: 0.5rem;
            }

            .role {
                >div {
                    flex-direction: column;

                    &.description {
                        gap: 1rem;
                    }
                }
            }
        }
    }

}