.toggleTag {
    display: flex;
    background: var(--color-glass);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--color-text-secondary);
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 0.3rem;
    border: var(--border-secondary);
    box-shadow: var(--shadow-small);
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;

    &:hover {
        // background-color: var(--color-accent-secondary);
        color: var(--color-accent-primary);
        border-color: var(--color-accent-primary);
        box-shadow: var(--shadow-small-glow);
    }

    &.active {
        background-color: var(--color-accent-primary);
        color: var(--color-bg);
        box-shadow: var(--shadow-small-glow);
    }
}