.cityLabel {
    position: absolute;
    // width: clamp(3rem, 5rem, 8rem);
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    transition: all var(--speed-medium);
    margin: -0.2rem;

    border-width: 2px;
    border-style: solid;
    box-shadow: var(--shadow);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    // touch-action: none;
    // pointer-events: none;
    cursor: zoom-out;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    transform-origin: top left;

    &:hover {
        scale: 0.8;
    }

    .location {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: max-content;
        gap: 0.3rem;
        align-items: center;

        > {
            display: inline;
        }

        .city {
            font-weight: 700;
        }
    }

    .date {
        width: max-content;

        >div {
            opacity: 0.8;
            font-size: 0.7rem;
        }
    }

    .description {
        font-size: 0.7rem;
        opacity: 0.6;
    }
}