.artCard {
    border-radius: 1rem;
    min-width: clamp(0rem, 100%, 15rem);
    transition: all var(--speed-fast);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.hidden {
        display: none;
    }

    .image {
        z-index: 1;
        position: relative;
        border-radius: 0.5rem;
        overflow: hidden;
        cursor: pointer;
        aspect-ratio: 1.1;
        scale: 1;
        box-shadow: var(--shadow);
        transition: all var(--speed-medium);
        background-color: var(--color-bg-disable);

        .arrow {
            position: absolute;
            margin: 0.4rem;
            right: 0;
            transform: translateX(2rem);
            font-weight: 600;
            color: var(--color-accent-secondary);
            transition: transform var(--speed-medium);
            z-index: 4;
        }

        &:hover {
            scale: 1.02;
            z-index: 2;
            box-shadow: var(--shadow-glow-extra-large);
            transform: translate(0, -0.2rem);

            .arrow {
                transform: translateX(0rem);
            }
        }
    }

    .footer {
        // padding: 0.5rem;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        // flex-direction: row;

        .text {
            flex: 1;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .date {
                color: var(--color-text-secondary);
                font-size: 0.8rem;
            }

            .title {
                margin: 0;
                font-size: 1rem;
                font-weight: 500;
                color: var(--color-text-primary);
            }
        }


        .tags {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            gap: 0.2rem;
        }
    }
}