.artCard {
    border-radius: 1rem;
    min-width: clamp(0rem, 100%, 15rem);
    transition: all var(--speed-fast);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.hidden {
        display: none;
    }

    .image {
        z-index: 1;
        position: relative;
        border-radius: 4%;
        overflow: hidden;
        cursor: pointer;
        aspect-ratio: 1.1;
        scale: 1;
        box-shadow: var(--shadow);
        transition: all var(--speed-medium);
        background-color: var(--color-bg-disable);

        .arrow {
            position: absolute;
            margin: 0.4rem;
            right: 0;
            bottom: 0;
            transform: translateY(2rem);
            font-weight: 600;
            color: var(--accent-primary);
            transition: transform var(--speed-medium);
            text-shadow: var(--shadow-glow-small);
            z-index: 4;
        }

        &:hover {
            // scale: 1.02;
            z-index: 2;
            box-shadow: var(--shadow-glow-extra-large);
            transform: translate(0, -0.5rem);

            .arrow {
                transform: translateY(0rem);
            }

            &+div {
                div {

                    // color: rgba(var(--rgb-accent-secondary), 0.7) !important;
                    color: var(--color-text-primary);

                    h2 {
                        color: var(--color-accent-primary) !important;
                    }
                }
            }
        }
    }

    .footer {
        // padding: 0.5rem;
        margin-top: 0.6rem;
        margin-left: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        // flex-direction: row;

        .text {
            flex: 1;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .date {
                color: var(--color-text-secondary);
                font-size: 0.8rem;
            }

            .title {
                margin: 0;
                font-size: 0.9rem;
                font-weight: 500;
                color: var(--color-text-primary);
            }
        }


        .tags {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            gap: 0.2rem;
            margin: 0 -0.4rem;
        }
    }
}