.button {
    padding: 0.4rem 0.8rem;
    border: var(--border-secondary);
    border-color: var(--color-accent-primary);
    box-shadow: var(--shadow-small-glow);
    color: var(--color-accent-primary);
    background: var(--color-bg-secondary);
    border-radius: 0.4rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all var(--speed-medium);
    position: relative;

    .tooltip {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        transform: translateX(0.5rem);
        white-space: nowrap;
        padding: 0.2rem 0.4rem;
        background: var(--color-bg-glass);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        font-size: 0.6rem;
        border-radius: 0.3rem;
        border: var(--border-secondary);
        box-shadow: var(--shadow-small);
        color: var(--color-text-secondary);
        display: none;
    }

    &:hover {
        border-color: var(--color-accent-secondary);
        background: rgba(var(--rgb-accent-secondary), 0.6);
        color: var(--color-accent-primary);
        box-shadow: var(--shadow-glow-small);
    }

    &.logOut {
        padding: 0;
        aspect-ratio: 1;
        border: none;
        box-shadow: none;

        img {
            border-radius: 30px;
            transition: all var(--speed-medium);
        }

        &:hover {
            background: none;

            img {
                scale: 0.95;
                filter: grayscale(100%);
                -webkit-filter: grayscale(100%);
            }

            .tooltip {
                display: block;
            }
        }
    }
}