.scene {
    z-index: 0;
    width: 100%;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
    // touch-action: none;
    cursor: grab;

    :active {
        cursor: grabbing;
    }
}

.loader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--color-accent-primary);
    z-index: 0;
}