.container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.2rem 0rem;
    font-size: inherit;
    border-radius: 1rem;
    align-items: center;
    transition: all var(--speed-medium);
    height: 2rem;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        aspect-ratio: 1;
        height: 2rem;
        background-color: var(--color-bg-disable);
        border: var(--border-secondary);
        transition: all var(--speed-medium);
        position: relative;
        overflow: hidden;

        .arrow {
            position: absolute;
            transform: translate(-1.5rem, 1.5rem);
            color: var(--color-text-primary);
            transition: transform var(--speed-medium);
            font-weight: 700;
        }

        .emoji {
            position: absolute;
            transition: transform var(--speed-medium);
        }
    }

    .name {
        margin: 0 0.8rem 0 0.2rem;
    }

    &:hover {
        background-color: var(--color-bg-disable);

        .icon {
            background-color: var(--color-accent-secondary);

            .emoji {
                transform: translate(1.5rem, -1.5rem);
            }

            .arrow {
                transform: none;
            }
        }
    }

    &.nolink {
        color: var(--color-text-secondary);
        background-color: none;

        .icon {
            background-color: var(--color-bg-disable);
        }

        &:hover {
            background: none;

            .emoji {
                transform: none;
            }
        }
    }
}