.card {
    margin: 0.5rem;
    border: var(--border-primary);
    border-radius: 1rem;
    background: var(--color-glass);
    border: var(--border-primary);
    box-shadow: var(--shadow);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    overflow: hidden;

    a {
        color: inherit;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 1.5rem;

        .header {
            margin: 0rem 0 1rem 0;
            display: flex;
            gap: 0.5rem;

            >div {
                font-size: 1.5rem;
                font-weight: 700;
                transition: all var(--speed-fast);
            }

            .emoji {
                transition: all var(--speed-slow);

                &.🚀 {
                    // transform: translate(4rem, -4rem);
                    animation: land 1s ease-out 1;
                }
            }
        }

        p {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5;
            color: var(--color-text-secondary);
            transition: all var(--speed-fast);
        }
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: var(--shadow-glow);
        cursor: pointer;
        color: var(--color-accent-primary);
        border-color: var(--color-accent-primary);

        a {
            .header {
                .emoji {
                    &.🚀 {
                        // transform: translate(4rem, -4rem);
                        animation: takeOff var(--speed-extra-slow) ease-in both;
                    }

                    &.🖌 {
                        animation: paint var(--speed-extra-slow) ease-in-out both;
                    }

                    &.🖼 {
                        -webkit-transform-origin: top center;
                        transform-origin: top center;
                        animation: swing var(--speed-extra-slow) ease both;
                    }

                    &.💡 {
                        text-shadow: 0 0 10px rgb(255, 255, 255);
                    }
                }

                .arrow {
                    transform: translateX(0.5rem);
                }
            }

            p {
                color: var(--color-accent-primary);
                text-decoration: none !important;
            }
        }
    }
}

@media (max-width: 600px) {
    .card {
        width: auto;
    }
}


@keyframes takeOff {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0.2rem, -0.2rem);
    }

    100% {
        transform: translate(50rem, -50rem);
    }
}

@keyframes land {
    100% {
        transform: translate(0, 0);
    }

    0% {
        transform: translate(5rem, -5rem);
    }
}

@keyframes paint {

    10%,
    90% {
        transform: translate(-1px, 0);
    }

    20%,
    80% {
        transform: translate(2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate(-4px, 0);
    }

    40%,
    60% {
        transform: translate(4px, 0);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}