.button {
    user-select: none;
    display: flex;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    justify-content: center;
    width: auto;
    font-size: 0.7rem;
    color: var(--color-text-secondary);
    transition: all var(--speed-medium);
    text-align: center;
    border: var(--border-secondary);
    align-items: center;

    &.active {
        cursor: pointer;
        border: var(--border-secondary);
        color: var(--color-cancel);
        border-color: var(--color-cancel);
        box-shadow: var(--shadow-small-cancel);

        &:hover {
            background-color: var(--color-cancel);
            color: var(--color-text-primary);
            box-shadow: none;
        }
    }
}