.themeToggle {
    position: relative;
    height: 1.7rem;
    aspect-ratio: 1;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    z-index: 1;

    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        z-index: 1;
        transform-origin: 50% 100%;

        * {
            margin: 2px;
            transition: font-size 0.2s;
        }
    }

    &.dark {
        .icon.sun {
            z-index: 0;
            transform: rotate(0deg);
            animation: halfSpin2 0.5s 1;
            -moz-animation: halfSpin2 0.5s 1;
            -webkit-animation: halfSpin2 0.5s 1;
        }

        .icon.moon {
            transform: rotate(180deg);
            animation: halfSpin1 0.5s 1;
            -moz-animation: halfSpin1 0.5s 1;
            -webkit-animation: halfSpin1 0.5s 1;
        }
    }

    &.light {
        .icon.moon {
            z-index: 0;
            transform: rotate(0deg);
            animation: halfSpin2 0.5s 1;
            -moz-animation: halfSpin2 0.5s 1;
            -webkit-animation: halfSpin2 0.5s 1;
        }

        .icon.sun {
            transform: rotate(180deg);
            animation: halfSpin1 0.5s 1;
            -moz-animation: halfSpin1 0.5s 1;
            -webkit-animation: halfSpin1 0.5s 1;
        }
    }

    &:hover {
        .icon {
            * {
                font-size: 1.4rem;
            }
        }
    }
}

@-moz-keyframes halfSpin1 {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(-180deg);
    }
}

@-webkit-keyframes halfSpin1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-180deg);
    }
}

@keyframes halfSpin1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-180deg);
    }
}

@-moz-keyframes halfSpin2 {
    from {
        -moz-transform: rotate(180deg);
    }

    to {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes halfSpin2 {
    from {
        -webkit-transform: rotate(180deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes halfSpin2 {
    from {
        transform: rotate(180deg);
    }

    to {
        transform: rotate(0deg);
    }
}