.robotScene {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    aspect-ratio: 1;
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;


    .fallback {
        width: 100%;
        aspect-ratio: 1;
    }

    .scene {
        z-index: 0;
        width: 100%;
        aspect-ratio: 1;
        // touch-action: none;
    }

}

@media (max-width: 800px) {
    .robotScene {
        margin-top: 2rem;
    }
}

@media (max-width: 675px) {
    .robotScene {
        aspect-ratio: 0.9;
    }
}

@media (max-width: 550px) {
    .robotScene {
        aspect-ratio: 0.8;
    }
}

@media (max-width: 500px) {
    .robotScene {
        aspect-ratio: 0.7;
    }
}

@media (max-width: 450px) {
    .robotScene {
        aspect-ratio: 0.6;
    }
}

@media (max-width: 400px) {
    .robotScene {
        aspect-ratio: 0.5;
    }
}