.swiper {
    padding-left: 5% !important;
    padding-right: 10rem !important;

    >div {
        align-items: stretch;
        margin: 1rem 0rem;

        .swiperSlide {
            width: 15rem;
            display: flex;
            // border: 2px solid red;
            align-items: stretch;
            margin: 0rem 1rem;
        }
    }

    .fade {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        background: linear-gradient(90deg, var(--color-bg) 0%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 95%, var(--color-bg) 100%);
        pointer-events: none;
        z-index: 1;
        transition: background-image 0.1s;
    }
}

@media (max-width: 600px) {
    .swiper {

        >div {
            .swiperSlide {
                width: 15rem;
                margin: 0rem 0.5rem;
            }
        }
    }
}