.controls {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
    user-select: none;
    background-color: var(--color-glass);
    border: var(--border-secondary);
    box-shadow: var(--shadow-small);
    backdrop-filter: blur(0.2rem);
    border-radius: 1rem;

    .knobs {
        padding: 1rem 1rem 0.5rem 1rem;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        // flex-wrap: wrap;
        width: 100%;
        gap: 0.2rem 2rem;
        // padding: 0.5rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        // grid-template-rows: repeat(2, 100px);

        .slider {
            height: auto;
            display: flex;
            justify-items: right;
            align-items: center;
            font-size: 0.7rem;
            color: var(--color-text-secondary);
            padding: 0.2rem 0rem;
            overflow: visible;
            min-width: 100px;
            max-width: 100%;
            transition: opacity var(--speed-slow);
        }
    }

    .buttons {
        z-index: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        // gap: 0.5rem 1rem;
        gap: 0.5rem 0.5rem;
        padding: 1rem 1rem 0rem 1rem;
        position: relative;
        border-radius: 1rem;
        border-top: var(--border-secondary);
        box-shadow: 0rem -0.2rem 0.2rem rgba(0, 0, 0, 0.02);


        .label {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 1rem;
            color: var(--color-text-secondary);
            opacity: 0.5;
            font-size: 0.7rem;
        }

        .button {
            display: flex;
            white-space: nowrap;
            padding: 0.3rem 0.5rem;
            font-size: 0.7rem;
            gap: 0.4rem;
            background-color: var(--color-glass);
            backdrop-filter: blur(0.1rem);
            border-radius: 0.3rem;
            border: var(--border-secondary);
            justify-content: center;
            align-items: baseline;
            text-align: center;
            box-shadow: var(--shadow-small);
            cursor: pointer;
            transition: all var(--speed-medium);
            opacity: 1;
            color: var(--color-text-secondary);
            position: relative;

            &:hover {
                border-color: var(--color-accent-primary);
                color: var(--color-accent-primary);
                box-shadow: var(--shadow-small-glow);
            }

            &.active {
                border-color: var(--color-accent-primary);
                color: var(--color-accent-primary);
                box-shadow: var(--shadow-small-glow);
            }

            &.ressetButton {

                &:hover,
                &.active {
                    box-shadow: var(--shadow-small-cancel);
                    color: var(--color-cancel);
                    border-color: var(--color-cancel);
                }

                &.active {
                    .keyContainer {
                        div {
                            color: var(--color-cancel);
                            text-shadow: var(--shadow-small-cancel);
                            border-color: var(--color-cancel);
                            box-shadow: inset var(--shadow-small-cancel);
                        }
                    }
                }
            }

            &.toggle {
                &.active {
                    border-color: var(--color-accent-primary);
                    background-color: var(--color-accent-primary);
                    color: var(--color-bg);
                    box-shadow: var(--shadow-small-glow);

                    .keyContainer {
                        div {
                            background-color: var(--color-bg);
                        }
                    }

                    &:hover {
                        box-shadow: none;
                        opacity: 0.8;
                    }
                }

                &.highlighted {
                    box-shadow: var(--shadow-small-cancel);
                    border-color: var(--color-cancel);
                    text-shadow: var(--shadow-small-cancel);
                }
            }
        }
    }

    .controlsInfo {
        // transform: translateX(-50%) translateY(50%);
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        gap: 1rem;
        padding: 1rem 1rem;
        cursor: default;
        position: relative;
        width: 100%;

        .label {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 1rem;
            color: var(--color-text-secondary);
            opacity: 0.5;
            font-size: 0.7rem;
        }

        .controlsInfoItem {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
            user-select: none;
            color: var(--color-text-secondary);
            transition: color var(--speed-slow);

            &.button {
                cursor: pointer;
                transition: all var(--speed-medium);
                padding: 0.3rem 0.5rem;
                border-radius: 0.3rem;
                border: var(--border-secondary);
                box-shadow: var(--shadow-small);

                span {
                    opacity: 1;
                }

                &:hover {
                    color: var(--color-cancel);
                    border-color: var(--color-cancel);
                    box-shadow: var(--shadow-small-cancel);
                }

                &.active {
                    color: var(--color-cancel);
                    border-color: var(--color-cancel);
                    box-shadow: var(--shadow-small-cancel);

                    div {
                        color: var(--color-cancel);
                        text-shadow: var(--shadow-small-cancel);
                        border-color: var(--color-cancel);
                        box-shadow: inset var(--shadow-small-cancel);
                    }

                    &:hover {
                        box-shadow: none;
                        opacity: 0.8;
                    }
                }
            }

            span {
                opacity: 0.5;
                transition: opacity var(--speed-slow);
            }

            &.active {
                color: var(--color-accent-primary);

                span {
                    opacity: 1;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .controls {
        .buttons {
            .label {
                display: none;
            }
        }

        .controlsInfo {
            .label {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .controls {
        border-radius: 0.5rem;

        .buttons {
            border: none;
            justify-content: center;
            gap: 0.3rem 0.3rem;
            padding: 0.5rem 0.5rem 0rem 0.5rem;

            .button {
                font-size: 0.6rem;

                .keyContainer {
                    display: none;
                }
            }
        }

        .controlsInfo {
            display: none;
        }
    }
}