.navItem {
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;
    transition: background-color var(--speed-medium);
    display: flex;
    gap: 0.5rem;
    overflow: hidden;

    .text {
        font-size: 0.9rem;
        color: var(--color-text-secondary);
        transition: color var(--speed-medium);
    }

    &:hover {
        background-color: var(--color-bg-disable);

        .text {
            color: var(--color-accent-primary);
        }
    }

    &.active {

        .text {
            color: var(--color-text-primary);
        }
    }
}