.navContainer {
    position: sticky;
    top: 0;
    z-index: 20000000;
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-glass);
    backdrop-filter: var(--blur-glass);
    -webkit-backdrop-filter: var(--blur-glass);

    .nav {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menuToggleContainer {
            display: none;
        }

        .logoContainer {
            display: flex;
            flex: 1;
        }

        .navItems {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        .themeToggleContainer {
            flex: 1;
            display: flex;
            justify-content: right;
        }
    }


}

@media (max-width: 600px) {
    .navContainer {
        padding: 1rem;

        .nav {
            .menuToggleContainer {
                display: flex;
            }

            .logoContainer {
                display: none;
            }

            .navItems {
                background-color: var(--color-bg);
                position: absolute;
                max-height: 0;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                flex-direction: column;
                gap: 5%;
                border-radius: 0 0 50% 50%;
                overflow: hidden;
            }
        }



        &.expanded {
            .nav {
                .navItems {
                    transform: none;
                    border-radius: 0;
                    min-height: 100vh;
                    justify-content: center;
                }
            }
        }
    }
}