.navLogo {
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-text-secondary);
    height: 100%;

    .background {
        height: 100%;
        display: flex;
        background-color: var(--color-bg-disable);
        padding: 0.4rem;
        border-radius: 0.4rem;
        position: relative;
        aspect-ratio: 1;

        .text {
            color: var(--color-text-primary);
            transform: translateY(-0.15rem);
            font-weight: 600;
        }

        .underline {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 0.2rem;
            background-color: rgba(var(--rgb-accent-secondary), 0.8);
            width: 55%;
            margin-top: 48%;
            border-radius: 0.2rem;
            display: flex;
            transition: all var(--speed-medium);

            .dot {
                height: 100%;
                margin-left: calc(100% - 0.2rem);
                margin-right: 0;
                aspect-ratio: 1;
                background-color: rgba(var(--rgb-accent-primary), 1);
                border-radius: 0.2rem;
                transition: margin-left var(--speed-medium);
            }
        }
    }

    .plane {
        position: fixed;
        bottom: 50%;
        left: -3vw;
        cursor: none;
        user-select: none;
        transform: translateX(-3vw) translateY(50%) rotate(-30deg);
        scale: 0.1;
        font-size: 6rem;

        &.animatePlane {
            animation: flyZoom 1s ease-in;
        }

        .trail {
            position: relative;
            width: 1rem;
            height: 8rem;
            background: linear-gradient(0deg, rgba(var(--rgb-accent-primary), 0.7) 0%, transparent 100%);
            border-radius: 50% 50% 0% 0%;
            transform: translateY(-140%) translateX(-170%) rotate(-52deg);
        }
    }

    .pilot {
        font-size: 2rem;
        position: fixed;
        bottom: 50%;
        left: 50%;
        cursor: none;
        user-select: none;
        animation: pilotEject 5s ease-out;
        animation-fill-mode: forwards;
        text-shadow: -2rem 5rem 0.1rem var(--color-shadow);
    }

    &:hover {

        .background {
            background-color: var(--color-bg-disable);

            .text {
                color: var(--color-accent-primary);
            }

            .underline {

                .dot {
                    margin-left: 0;
                    margin-right: auto;
                }
            }
        }
    }
}

@keyframes flyZoom {
    0% {
        transform: translateX(-3vw) translateY(50%) rotate(-30deg);
        scale: 0.1;
    }

    100% {
        transform: translateX(110vw) translateY(20vh) rotate(-30deg);
        scale: 1;
    }
}

@keyframes pilotEject {
    0% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(50vw) translateY(100vh);
    }
}