.card {
    border: var(--border-primary);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    overflow: hidden;
    min-width: clamp(0rem, 100%, 15rem);
    background: var(--color-glass);
    cursor: pointer;
    transition: all var(--speed-medium);

    &.hidden {
        display: none;
    }

    &.featured {
        border: double var(--border-width-primary) transparent;
        background-image: linear-gradient(var(--color-bg), var(--color-bg)), radial-gradient(circle at top left, rgba(var(--rgb-accent-secondary), 0.5), rgba(var(--rgb-accent-primary), 0.5));
        background-origin: border-box;
        background-clip: padding-box, border-box;

        &.engineering {
            background-image: linear-gradient(var(--color-bg), var(--color-bg)), radial-gradient(circle at top left, rgba(var(--rgb-engineering), 0.5), rgba(var(--rgb-accent-primary), 0.5));
            box-shadow: 0 0px 10px rgba(var(--rgb-engineering), 0.5);

            &:hover {
                border-color: rgba(var(--rgb-engineering), 0.5);

                a {
                    .text {
                        .title {
                            color: rgba(var(--rgb-engineering), 1) !important;
                        }
                    }
                }
            }
        }

        &.hardware {
            background-image: linear-gradient(var(--color-bg), var(--color-bg)), radial-gradient(circle at top left, rgba(var(--rgb-hardware), 0.5), rgba(var(--rgb-accent-primary), 0.5));
            box-shadow: 0 0px 10px rgba(var(--rgb-hardware), 0.5);

            &:hover {
                border-color: rgba(var(--rgb-hardware), 0.5);

                a {
                    .text {
                        .title {
                            color: rgba(var(--rgb-hardware), 1) !important;
                        }
                    }
                }
            }
        }

        &.computing {
            background-image: linear-gradient(var(--color-bg), var(--color-bg)), radial-gradient(circle at top left, rgba(var(--rgb-computing), 0.5), rgba(var(--rgb-accent-primary), 0.5));
            box-shadow: 0 0px 10px rgba(var(--rgb-computing), 0.5);

            &:hover {
                border-color: rgba(var(--rgb-computing), 0.5);

                a {
                    .text {
                        .title {
                            color: rgba(var(--rgb-hardware), 1) !important;
                        }
                    }
                }
            }
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .thumbnail {
            position: relative;
            margin: 0.5rem;
            border-radius: 0.35em;
            overflow: hidden;
            aspect-ratio: 1.5;
            background-color: var(--color-bg-disable);

            .arrow {
                position: absolute;
                margin: 0.5rem;
                right: 0;
                transform: translateX(2rem);
                font-weight: 600;
                color: var(--color-accent-primary);
                transition: transform var(--speed-medium);
            }

            .typeTag {
                position: absolute;
                margin: 0.5rem;
            }

            .tags {
                position: absolute;
                width: 100%;
                bottom: 0;
                display: flex;
                flex-direction: row-reverse;
                -webkit-flex-wrap: wrap-reverse;
                flex-wrap: wrap-reverse;
                gap: 0.2rem;
                padding: 0.5rem;
            }
        }

        .text {
            position: relative;
            text-align: left;
            padding: 1rem;
            padding-top: 0;
            display: flex;
            flex-direction: column;

            .date {
                margin: 0.5rem 0 0.5rem 0;
                color: var(--color-text-secondary);
                font-size: 0.9rem;
            }

            .title {
                margin: 0rem 0 0.5rem 0;
                font-size: 1.1rem;
                font-weight: 500;
                color: var(--color-text-primary);
            }

            .subtitle {
                margin: 0;
                font-size: 0.9rem;
                line-height: 1.4;
                color: var(--color-text-secondary);
                min-height: 2.5rem;
            }
        }
    }

    &:hover,
    &:focus,
    &:active {
        box-shadow: var(--shadow-glow) !important;
        color: var(--color-accent-primary);
        border-color: var(--color-accent-primary);


        a {
            .thumbnail {
                .arrow {
                    transform: translateX(0rem);
                }
            }

            .text {
                .title {
                    color: var(--color-accent-secondary) !important;
                }

                .subtitle {
                    color: var(--color-accent-primary) !important;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .card {
        width: auto;
    }
}