.card {
    border: var(--border-primary);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    overflow: hidden !important;
    min-width: clamp(0rem, 100%, 15rem);
    background: var(--color-bg-secondary);
    cursor: pointer;
    transition: all var(--speed-medium);

    &.hidden {
        display: none;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .thumbnail {
            position: relative;
            margin: 0.5rem;
            border-radius: 0.35em;
            overflow: hidden;
            aspect-ratio: 1.5;
            background-color: var(--color-bg-disable);

            .arrow {
                position: absolute;
                margin: 0.5rem;
                right: 0;
                transform: translateX(2rem);
                font-weight: 600;
                color: var(--color-accent-primary);
                transition: transform var(--speed-medium);
            }

            .typeTag {
                position: absolute;
                margin: 0.5rem;
            }

            .tags {
                position: absolute;
                width: 100%;
                bottom: 0;
                display: flex;
                flex-direction: row-reverse;
                -webkit-flex-wrap: wrap-reverse;
                flex-wrap: wrap-reverse;
                gap: 0.2rem;
                padding: 0.5rem;
            }
        }

        .text {
            position: relative;
            text-align: left;
            padding: 1rem;
            padding-top: 0;
            display: flex;
            flex-direction: column;

            .date {
                margin: 0.5rem 0 0.5rem 0;
                color: var(--color-text-secondary);
                font-size: 0.9rem;
            }

            .title {
                margin: 0rem 0 0.5rem 0;
                font-size: 1.1rem;
                font-weight: 500;
                color: var(--color-text-primary);
                transition: all var(--speed-medium);
            }

            .subtitle {
                margin: 0;
                font-size: 0.9rem;
                line-height: 1.4;
                color: var(--color-text-secondary);
                min-height: 2.5rem;
            }
        }
    }

    &:hover,
    &:focus,
    &:active {
        a {
            .thumbnail {
                .arrow {
                    transform: translateX(0rem);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .card {
        width: auto;
    }
}