.aboutPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 35rem;
    position: relative;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
        align-items: flex-start;

        .title {
            display: flex;
            gap: 1rem;
            cursor: default;

            .emoji {
                transform-origin: 100% 100%;
                animation: var(--animation-swing);
            }

            >div {
                font-size: 3rem;
                font-weight: 700;
                transition: all var(--speed-medium);
            }
        }

        p {
            color: var(--color-text-secondary);
            font-size: 1.1rem;
            font-weight: 400;
            margin: 1rem 0;
        }
    }

    .about {
        position: relative;
        display: flex;
        flex-direction: column;

        .globe {
            width: 100%;
            aspect-ratio: 1.5;
            // top: -50%;
            transform: translateY(-25%);
            background-color: none;
            position: absolute;
            right: -15rem;
            touch-action: none;
        }

        .text {
            width: 52%;
            color: var(--color-text-secondary);
            line-height: 1.6rem;
            font-size: 0.9rem;
            margin-bottom: 1.5rem;
        }
    }
}

@media (max-width: 750px) {
    .aboutPage {
        .about {
            .globe {
                width: 120%;
                right: -18rem;
            }
        }
    }
}

@media (max-width: 700px) {
    .aboutPage {
        .about {
            .globe {
                top: 4rem;
            }
        }
    }
}

@media (max-width: 600px) {
    .aboutPage {
        .about {
            margin-bottom: -6rem;

            .globe {
                order: 2;
                position: relative;
                width: 190%;
                left: -45%;
                touch-action: none;
            }

            .text {
                order: 1;
                width: 100%;
            }
        }
    }
}