.artPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 35rem;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;

        .title {
            display: flex;
            gap: 1rem;
            cursor: default;

            .emoji {
                animation: var(--animation-paint);
            }

            >div {
                font-size: 3rem;
                font-weight: 700;
                transition: all var(--speed-medium);
            }
        }

        p {
            color: var(--color-text-secondary);
            font-size: 1.1rem;
            font-weight: 400;
            margin: 1rem 0;
        }
    }
}