:root {
  /* Your default theme */
  --color-bg: rgb(0, 0, 0);
  --color-bg-disable: #1b1b1b;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b1b1b1;
  --color-border: rgba(126, 126, 126, 0.2);
  --color-accent-primary: #8168ff;
  --color-accent-secondary: #4c00ff;
  --color-glass: rgba(0, 0, 0, 0.05);
  --color-shadow: rgba(255, 255, 255, 0.15);
  --rgb-engineering: 208, 0, 255;
  --rgb-hardware: 73, 86, 255;
  --rgb-computing: 0, 255, 246;
}

[data-theme='light'] {
  --color-bg: rgb(255, 255, 255);
  --color-bg-disable: #f0f0f0;
  --color-text-primary: black;
  --color-text-secondary: #747474fd;
  --color-border: rgba(126, 126, 126, 0.2);
  --color-accent-primary: #8168ff;
  --color-accent-secondary: #9e8bff;
  --color-glass: rgba(0, 0, 0, 0.01);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --rgb-engineering: 136, 0, 214;
  --rgb-hardware: 0, 0, 182;
  --rgb-computing: 0, 154, 180;
}

:root {
  /* global */
  --font-fam-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-fam-code: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --border-primary: 3px solid var(--color-border);
  --border-secondary: 1px solid var(--color-border);
  --border-glass: 3px solid var(--color-glass);
  --shadow: 0 0px 20px var(--color-shadow);
  --shadow-glow: 0px 0px 10px var(--color-accent-primary);
  --shadow-glow-large: 0px 0px 20px var(--color-accent-primary);
  --blur-glass: blur(30px);
}

html {
  scroll-behavior: smooth;

  &,
  body {
    padding: 0;
    margin: 0;
    font-family: var(--font-fam-default);
    color: var(--color-text-primary);
    background: var(--color-bg);
    transition: background-color 0.1s;

    .container {
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      position: relative;
      // margin-bottom: 5rem;

      .main {
        padding: 2rem 0 2rem 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 800px;

        .swiper {
          max-width: 100%;
          height: auto;
          padding-bottom: 1rem;

          .swiper-wrapper {
            overflow: none;
            width: fit-content;
            cursor: grab;

            &:active {
              cursor: grabbing;
            }

            .swiper-slide {
              height: auto;
            }
          }

          .swiper-pagination {
            margin: 0;
            bottom: 0;
            z-index: 20;

            .swiper-pagination-bullet {
              background-color: var(--color-bg-disable);
              opacity: 1;
              transition: width 0.2s, background-color 0.2s;

              &.swiper-pagination-bullet-active {
                border-radius: 8px;
                width: 24px;
                background-color: var(--color-accent-primary);
              }

              &:hover {
                background-color: var(--color-accent-secondary);
              }
            }
          }
        }
      }
    }

    ::selection {
      background: var(--color-accent-secondary);
    }

    a {
      color: var(--color-accent-primary);
      text-decoration: none;
      transition: color 0.2s;

      &:hover,
      &:focus,
      &:active {
        color: var(--color-accent-secondary);
      }
    }

    * {
      box-sizing: border-box;
    }

    em {
      color: var(--color-text-primary);
      font-style: normal;
    }

    code {
      background: var(--color-bg-disable);
      font-size: 0.9rem;
      font-family: var(--font-fam-code);
    }
  }
}

@media (max-width: 600px) {
  .container {
    .main {
      max-width: 100%;
      padding: 0;
      align-items: stretch;
    }
  }
}