:root {
  /* Your default theme */
  --color-bg: rgb(15, 10, 20);
  --color-bg-disable: #131313;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b1b1b1;
  --color-border: rgba(255, 255, 255, 0.05);
  --color-emoji: #ffcb4c;
  --color-accent-primary: #8168ff;
  --color-accent-secondary: #4c00ff;
  --color-glass: rgba(0, 0, 0, 0.1);
  --color-glass-dark: rgba(0, 0, 0, 0.4);
  --color-shadow: rgba(0, 0, 0, 0.9);
  --color-cancel: rgba(255, 48, 196, 0.7);
  --rgb-accent-primary: 129, 104, 255;
  --rgb-accent-secondary: 76, 0, 255;
  --color-engineering: rgb(199, 68, 255);
  --color-hardware: rgb(121, 106, 255);
  --color-computing: rgb(0, 174, 218);
  --rgb-engineering: 120, 0, 150;
  --rgb-hardware: 50, 50, 150;
  --rgb-computing: 0, 100, 150;
}

[data-theme='light'] {
  --color-bg: rgb(255, 255, 255);
  --color-bg-disable: #f8f8f8;
  --color-text-primary: black;
  --color-text-secondary: #747474fd;
  --color-border: rgba(126, 126, 126, 0.2);
  --color-emoji: #b98400;
  --color-accent-primary: #8168ff;
  --color-accent-secondary: #9e8bff;
  --color-glass: rgba(0, 0, 0, 0.01);
  --color-glass-dark: rgba(255, 255, 255, 0.1);
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-cancel: rgb(255, 122, 186);
  --rgb-accent-primary: 128, 102, 255;
  --rgb-accent-secondary: 158, 139, 255;
  --color-engineering: rgb(188, 74, 237);
  --color-hardware: rgb(104, 91, 216);
  --color-computing: rgb(2, 161, 201);
  --rgb-engineering: 200, 150, 250;
  --rgb-hardware: 150, 150, 250;
  --rgb-computing: 150, 200, 250;
}

:root {
  /* global */
  --font-fam-default: -apple-system, BlinkMacSystemFont, Inter, Helvetica Neue, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  --font-fam-code: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  --border-width-primary: 3px;
  --border-width-secondary: 1px;
  --border-primary: var(--border-width-primary) solid var(--color-border);
  --border-secondary: var(--border-width-secondary) solid var(--color-border);
  --border-glass: var(--border-width-primary) solid var(--color-glass);
  --shadow: 0 0px 20px var(--color-shadow);
  --shadow-small: 0 0px 3px var(--color-shadow);
  --shadow-small-glow: 0 0px 3px var(--color-accent-primary);
  --shadow-small-cancel: 0 0px 3px var(--color-cancel);
  --shadow-glow: 0px 0px 10px var(--color-accent-primary);
  --shadow-glow-large: 0px 0px 20px var(--color-accent-primary);
  --shadow-glow-extra-large: 0px 30px 60px rgba(var(--rgb-accent-primary), 0.7);
  --blur-glass: blur(20px);
  --blur-glass-medium: blur(100px);
  --blur-glass-large: blur(200px);
  --filter-pane-width: 200px;
  --speed-fast: 0.1s;
  --speed-medium: 0.2s;
  --speed-slow: 0.5s;
  --speed-extra-slow: 0.7s;
  --speed-stagger-delay: 200ms;
  --animation-fade-in: fadeIn var(--speed-extra-slow) ease-out both;
  --animation-fade-up: fadeUp var(--speed-extra-slow) ease-out both;
  --animation-take-off: takeOff var(--speed-extra-slow) ease-in both;
  --animation-land: land 1s ease-out 1;
  --animation-paint: paint var(--speed-extra-slow) ease-in-out both;
  --animation-swing: swing var(--speed-extra-slow) ease both;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;

  &,
  body {
    padding: 0;
    margin: 0;
    font-family: var(--font-fam-default);
    color: var(--color-text-primary);
    background: var(--color-bg);
    transition: background-color var(--speed-medium);

    #__next {
      background-color: var(--color-bg);

      .container {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        position: relative;
        overflow-x: hidden;
        margin-bottom: 5rem;

        .main {
          padding: 2rem 0 2rem 0;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 100%;
          max-width: 800px;

          .swiper {
            width: 100%;
            max-width: 100%;
            height: auto;

            .swiper-wrapper {
              overflow: none;
              width: fit-content;
              padding-bottom: 2rem;
              cursor: grab;

              &:active {
                cursor: grabbing;
              }

              .swiper-slide {
                height: auto;
              }
            }

            .swiper-pagination {
              bottom: 0;
              z-index: 20;

              .swiper-pagination-bullet {
                border-radius: 10px;
                background-color: var(--color-text-primary);
                opacity: 0.2;
                transition: width var(--speed-medium);

                &.swiper-pagination-bullet-active {
                  opacity: 1;
                  width: 24px;
                  background-color: var(--color-accent-secondary);
                }

                &:hover {
                  background-color: var(--color-accent-primary);
                }
              }
            }
          }
        }
      }
    }

    ::selection {
      background: var(--color-accent-secondary);
    }

    a {
      color: var(--color-accent-primary);
      text-decoration: none;
      transition: color var(--speed-medium);

      &:hover,
      &:focus,
      &:active {
        color: var(--color-accent-secondary);
      }
    }

    * {
      box-sizing: border-box;
    }

    em {
      color: var(--color-text-primary);
      font-style: normal;
    }

    code {
      background: var(--color-bg-disable);
      font-size: 0.9rem;
      font-family: var(--font-fam-code);
    }

    input {
      outline: none;
      margin: 0;
    }

    textarea:focus,
    input:focus {
      outline-color: #92a8d1
    }
  }
}

@media (max-width: 600px) {
  .container {
    .main {
      max-width: 100%;
      padding: 0;
      align-items: stretch;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes takeOff {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0.2rem, -0.2rem);
  }

  100% {
    transform: translate(50rem, -50rem);
  }
}

@keyframes land {
  100% {
    transform: translate(0, 0);
  }

  0% {
    transform: translate(5rem, -5rem);
  }
}

@keyframes paint {

  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}

@keyframes swing {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}