.header {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  align-items: center;
  margin: 1rem 0;

  .text {
    text-align: left;

    .title {
      margin: 0;
      line-height: 1.15;
      font-size: 3rem;
    }

    .role {
      margin: 0.5rem 0;
      line-height: 1.5;
      font-size: 1rem;
    }

    .description {
      margin: 1rem 0;
      line-height: 1.5;
      font-size: 1rem;
      color: var(--color-text-secondary);
    }
  }

  .profile {
    position: relative;
    width: 30%;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
  }
}

.grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 -1rem;
}

.winchSceneContainer {
  display: flex;
  width: 100%;
  position: relative;

  .link {
    position: absolute;
    bottom: 0rem;
    right: 0;
    font-size: 0.8rem;
    display: inline-flex;
    gap: 0.2rem;
    font-weight: 400;

    .arrow {
      transition: transform var(--speed-medium);
    }

    &:hover {
      .arrow {
        transform: translateX(0.2rem);
      }
    }
  }
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  margin-top: 1rem;

  >h2 {
    font-size: 2rem;
    margin: 1rem 0rem;

    background: linear-gradient(45deg, var(--color-accent-primary), var(--color-accent-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // .link {
  //   text-align: right;
  //   width: fit-content;
  //   align-self: flex-end;
  // }

  .link {
    align-self: flex-end;
    display: inline-flex;
    align-items: baseline;
    gap: 0.3rem;

    .arrow {
      transition: transform var(--speed-medium);
    }

    &:hover {
      .arrow {
        transform: translateX(0.3rem);
      }
    }
  }

  .galleryContainer {
    z-index: 2;
    padding: 1rem;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.guestbookNote {
  margin-top: 2rem;
  border: var(--border-secondary);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 2rem;
  font-size: 0.9rem;
  color: var(--color-text-secondary);
  align-items: center;

  .link {
    align-self: flex-end;
    display: inline-flex;
    align-items: baseline;
    gap: 0.3rem;

    .arrow {
      transition: transform var(--speed-medium);
    }

    &:hover {
      .arrow {
        transform: translateX(0.3rem);
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    .text {
      order: 2;
    }

    .profile {
      order: 1;
      width: 25%;
    }
  }
}

@media (max-width: 550px) {

  .grid {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    padding: 0 0.5rem;

    >div {
      margin: 0.5rem;
    }
  }
}